 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

 * {
     margin: 0;
     padding: 0;
     /* font-family: "Inter", sans-serif; */
 }

 .nav-link-1 {
     width: 70%;
 }

 .icon:hover {
     color: #FFC107 !important;
 }

 .feane {
     font-family: "Dancing Script", cursive !important;
 }

 h3 {
     font-family: "Dancing Script", cursive !important;
 }

 .main {
     padding-top: 20%;
 }

 footer {
     background-color: #222831;
 }

 .box {
     background-color: #222831;
     width: 40%;

 }

 img:hover {}

 .btn {
     color: black;
    
 }

 .btn:hover {
     background-color: #222831;
     color: white;
 }

 .card-1 {
     background-color: #222831;
 }
 #card-img-1:hover{
    transform: scale(1.1);
 }